<div class="countdown" [ngClass]="{'config': !running}">
  <section class="counter" *ngIf="counter$ | async; let counter; else instructions">
    <output>{{ counter.hh[0] }}</output>
    <output>{{ counter.hh[1] }}</output>
    <span>:</span>
    <output>{{ counter.mm[0] }}</output>
    <output>{{ counter.mm[1] }}</output>
    <span>:</span>
    <output>{{ counter.ss[0] }}</output>
    <output>{{ counter.ss[1] }}</output>
  </section>
  <ng-template #instructions>
    <p>
      Please select a time and press "Start".
    </p>
  </ng-template>
  <aside class="controls">
    <ng-template [ngIf]="running" [ngIfElse]="stopped">
      <button (click)="pauseOrContinue()">⏯ Pause/Continue</button>
      <button (click)="stop()" *ngIf="running">⏹ Stop</button>
    </ng-template>
    <ng-template #stopped>
      <input pattern="(\d*h\s*)?(\d*m\s*)?(\d*s\s*)?" [(ngModel)]="timeStr">
      <label><input type="checkbox" (change)="toogleFullScreen($event.target)">Go full screen</label>
      <button (click)="start()">▶️ Start</button>
    </ng-template>
  </aside>
</div>
