.countdown {
  background-color: var(--background-color);
  color: var(--color);
  display: grid;
  font-family: Arial, Helvetica, sans-serif;
  grid-row-gap: 5px;
  grid-template-rows: 1fr 48px;
  grid-auto-rows: 48px;
  height: 100vh;
  overflow: hidden;
  padding: 1em 0;
  transition: background-color 1000ms ease-in-out, color 1000ms ease-in-out;
}

.countdown.config {
  background-color: var(--color);
  color: var(--background-color);
}

.countdown > * {
  align-self: center;
  justify-self: center;
  text-align: center;
}

.counter {
  align-self: center;
  color: var(--counter-color);
  display: grid;
  font-family: 'Orbitron', sans-serif;
  font-size: 12vw;
  grid-template-columns: repeat(2, 1ch) 0.5ch repeat(2, 1ch) 0.5ch repeat(2, 1ch);
  text-shadow:
    0 0 5px var(--counter-color),
    0 0 10px var(--counter-color),
    0 0 20px var(--background-color);
  transition: color 1000ms ease-in-out, text-shadow 1000ms ease-in-out;

}
.config .counter {
  color: var(--color);
  text-shadow:
    0 0 5px var(--background-color),
    0 0 10px var(--background-color),
    0 0 20px var(--color);
}

button, input, label {
  background-color: #0000;
  color: var(--color);
  height: 100%;
  padding: 0 1em;
  transition: background-color 1000ms ease-in-out, color 1000ms ease-in-out, border 1000ms ease-in-out;
}
button {
  width: 80%;
  border: #666 1px solid;
}
input {
  height: 60%;
  border: none;
  border-bottom: var(--background-color) 1px solid;
}
.config button, .config input, .config label {
  color: var(--background-color);
}
.config button {
  border: var(--background-color) 1px solid;
}
