<div class="countdown">
  <section class="counter" *ngIf="counter$ | async; let counter; else instructions">
    <output>{{ counter.hh[0] }}</output>
    <output>{{ counter.hh[1] }}</output>
    <span>:</span>
    <output>{{ counter.mm[0] }}</output>
    <output>{{ counter.mm[1] }}</output>
    <span>:</span>
    <output>{{ counter.ss[0] }}</output>
    <output>{{ counter.ss[1] }}</output>
  </section>
  <ng-template #instructions>
    <p>
      Please select a time, like "1h 30m 50s" and press "Start".
    </p>
  </ng-template>
  <aside class="controls">
    <ng-template *ngIf="running; else stopped">
      <button (click)="stop()">Pause</button>
      <button (click)="stop()" *ngIf="running">Stop</button>
    </ng-template>
    <ng-template #stopped>
      <button (click)="continue()">Continue</button>
      <button (click)="start()">Start</button>
      <input pattern="(\d*h\s*)?(\d*m\s*)?(\d*s\s*)?" [(ngModel)]="timeStr">
    </ng-template>
  </aside>
</div>
