.countdown {
  background-color: black;
  color: lightyellow;
  display: grid;
  grid-gap: 1vh;
  grid-template-rows: 90vh 1fr;
  height: 100vh;
}

.countdown > * {
  justify-self: center;
  text-align: center;
}

.counter {
  align-self: center;
  color: #ff0101;
  display: grid;
  font-family: 'Orbitron', sans-serif;
  font-size: 25vmin;
  grid-template-columns: 1ch 1ch 0.5ch 1ch 1ch 0.5ch 1ch 1ch;
  text-shadow:
    0 0 5px #ff0101,
    0 0 10px #ff0101,
    0 0 20px #000;
}

.controls input {
  background-color: black;
  color: white;
}

.controls button {
  background-color: black;
  color: white;
  border: none;
  text-decoration: underline;
  padding: 1em 1.618em;
}
