/* You can add global styles to this file, and also import other style files */
:root {
  --background-color: #000505;
  --color: #fefeff;
  --counter-color: #ff0101;
}

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
}
